<h1 style="text-align: center; padding-top: 100px">Movie Search</h1>
<form style="text-align:center;" action ="/results" method="GET">
    <input type="text" name="search" placeholder="Movie Name">
    <button>Submit</button>
</form>