<h1 style="text-align: center; padding-top: 100px; font-size: 3rem">Movie Search</h1>
<form style="text-align:center;" action ="/results" method="GET">
    <input type="text" style="height: 32px; width: 33%; font-size: 1.5rem; padding: 1rem;
    margin-right: 1rem" name="search" placeholder="Movie Name">
    <button style="padding: .27rem 1rem; font-size: 1.28rem">Submit</button>
</form>